:root{
    --cor-de-fundo:#070202;
    --roxo: #dc61d5;
    --branco: #FFFFff;
    --botao-ativo: #3a373e;
    --botao-inativo: rgba(58,55,94,0.5)
    --texto-fundo: rgba(58,55,94,0.3)

}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;

}